.container {display: grid;
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "i i i m m m m m m m m m"
    "f f f f f f f f f f f f";}

.header {grid-area: h;
background-color: rgb(129, 165, 199);
width: 1700px;
height:125px;
font-family: 'Poppins', sans-serif;
font-size: 7em;}

.header1 {margin-top: -20px;
margin-left: 500px;
color:white;}

.image {grid-area: i;
    width: 500px;
    height:700px;}

img {width: 400px; 
height: 600px; 
margin-top: 50px;
margin-left:25px;} 

.main {grid-area: m;
background-color: white;
width: 1200px;
height: 700px;}

.footer {grid-area: f;
background-color:  rgb(129, 165, 199);
height: 100px;
margin-top:5px;}

.resume {font-family: 'Poppins', sans-serif;
font-size:3em;
margin-left: 500px;
margin-top: -70px;
color:white;
animation: color 10s linear infinite;
-webkit-animation:color 10s linear infinite;}

.resume:hover {animation: bounce 2s;
        -webkit-animation: bounce 2s;}

.work {font-family: 'Poppins', sans-serif;
font-size:3em; 
margin-left: 950px;
margin-top:-70px;
color:white;
animation: color 10s linear infinite;
-webkit-animation:color 10s linear infinite;}

.work:hover {animation: bounce 2s;
    -webkit-animation: bounce 2s;}

.home {font-family: 'Poppins', sans-serif;
font-size:3em;
margin-left: 1350px;
margin-top:-70px;
color:white;
animation: color 10s linear infinite;
-webkit-animation:color 10s linear infinite;}

.home:hover {animation: bounce 2s;
    -webkit-animation: bounce 2s;}

.aboutme {font-family: 'Poppins', sans-serif;
font-size:3em;
margin-left: 70px;
margin-top:10px;
color:white;
animation: color 10s linear infinite;
-webkit-animation:color 10s linear infinite;}

.aboutme:hover {animation: bounce 2s;
        -webkit-animation: bounce 2s;}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
width: 100%; /* Full width */
padding: 12px; /* Some padding */  
border: 1px solid rgb(129, 165, 199); Gray ;
border-radius: 4px; /* Rounded borders */
box-sizing: border-box; /* Make sure that padding and width stays in place */
margin-top: 25px; /* Add a top margin */
margin-bottom: 16px; /* Bottom margin */
resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
font-family: 'Poppins', sans-serif;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
background-color: #4CAF50;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
font-family: 'Poppins', sans-serif;
font-size: 1em;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
background-color: #45a049;
font-family: 'Poppins', sans-serif;
}

/* Add a background color and some padding around the form */
.container1 {
border-radius: 5px;
background-color: white;
padding: 20px;
font-family: 'Poppins', sans-serif;
font-size: 1em;
}

