.container {display:grid;
    grid-template-areas: 
    /* "p p p p p p p p p p p p" */
    "i i i i h h h h h h h h"
    "i i i i c c c c c c c c"
    "f f f f f f f f f f f f";
    background-color: white;}

.image {grid-area: i;
/* background-color: aqua;  */
height:900px;
width:800px;}

/* .picture {grid-area: p;
          height:200px;
          width:1700px;} */

svg {height:200px;
    width:1700px;}

.footer {grid-area: f;
 background-color: rgb(129, 165, 199);
 height: 100px;
 width:1700px;}

.content {grid-area: c;
  /* background-color: bisque;     */
  height:400px;
  width:600px;
  font-family: 'Poppins', sans-serif;
  font-weight:lighter;
  /* font-family: 'Roboto', sans-serif; */
  margin-right:600px;
  margin-top:-200px;}

.header {grid-area: h;
height:200px;
font-family: 'Poppins', sans-serif;
font-size: 5em;
 /* background-color:pink;   */
margin-top:200px;
width:600px;}

.one {margin-left:60px;
margin-top:40px;
animation: color 10s linear infinite;
-webkit-animation:color 10s linear infinite;}

.one:hover {animation: bounce 2s;
    -webkit-animation: bounce 2s;}

.two {margin-left: 50px;}

img {width:800px;
height:500px;
margin-left:20px;}

.three {margin-top: 250px;
        width:800px;}

.resume {font-family: 'Poppins', sans-serif;
font-size:3em;
padding-left: 500px;
margin-top:15px;
color:white;
animation: color 10s linear infinite;
-webkit-animation:color 10s linear infinite;}

.resume:hover {animation: bounce 2s;
         -webkit-animation: bounce 2s;}

.work {font-family: 'Poppins', sans-serif;
font-size:3em; 
margin-left: 850px;
margin-top:-70px;
color:white;
animation: color 10s linear infinite;
-webkit-animation:color 10s linear infinite;}

.work:hover {animation: bounce 2s;
        -webkit-animation: bounce 2s;}

.contactme {font-family: 'Poppins', sans-serif;
    font-size:3em;
    margin-left: 1250px;
    margin-top:-70px;
    color:white;
    animation: color 10s linear infinite;
    -webkit-animation:color 10s linear infinite;}

.contactme:hover {animation: bounce 2s;
          -webkit-animation: bounce 2s;}

.home {font-family: 'Poppins', sans-serif;
        font-size:3em;
        margin-left: 130px;
        margin-top:-70px;
        color:white;
        animation: color 10s linear infinite;
        -webkit-animation:color 10s linear infinite;}

.home:hover {animation: bounce 2s;
    -webkit-animation: bounce 2s;}